@cu-red-bg: rgba(120, 28, 25, 1);
@cu-blue-bg: rgba(24, 64, 110, 1);
@cu-red: rgb(218, 56, 50);
@cu-blue: rgb(42, 100, 173);

@header-height: 10vh;
@footer-height: 0px;
@teams-gap: 8px;

#cu-body {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'content'
    'footer';
  height: 100vh;
}

#cu-header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 'logo team';
  background-color: white;
  color: black;
  padding: 0.5em 3em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  align-items: center;
  height: @header-height;
  font-size: 1.75em;
}

#cu-header-match {
  font-size: 1.25em;
}

#cu-teams {
  grid-area: content;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'red blue';
  justify-items: center;
  align-items: center;
  font-size: 1.5em;
}

#cu-teams-red {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  background-color: @cu-red-bg;
  width: 100%;
  height: 100vh;
  place-content: center;
  align-items: center;
  gap: @teams-gap;
}

#cu-teams-red .cu-team {
  background-color: @cu-red;
}
#cu-teams-blue .cu-team {
  background-color: @cu-blue;
}

.cu-team {
  border-radius: 8px;
  padding: 0.75em;
  color: white;
  font-weight: normal;
  width: 80%;
  font-size: 1.75em;
}

#cu-teams-blue {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  background-color: @cu-blue-bg;
  width: 100%;
  height: 100%;
  place-content: center;
  align-items: center;
  gap: @teams-gap;
}

#cu-footer {
  grid-area: footer;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'logo eventName optional-data';
  background-color: black;
  color: white;
}
