#res-header-container {
  margin-top: 4vh;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}
#res-header-left {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  color: #ffffff;
  padding-left: 20px;
}
#res-header-right {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.res-header-item {
  height: 40%;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px;
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
#res-alliance-container {
  width: 100%;
  height: 76vh;
  display: flex;
  justify-content: center;
}
#res-left-side-logo {
  position: absolute;
  left: 0;
  top: 5vh;
  width: 20vw;
  text-align: center;
}
#res-left-side-logo > img {
  width: 10vw !important;
}
#res-right-side-logo {
  width: 20vw;
  position: absolute;
  left: 80vw;
  bottom: 5vh;
  padding: 6px;
}
.res-alliance-card {
  width: 45%;
  height: 75vh;
  margin: 0 2.5% 0 2.5%;
}
.res-card-top {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.res-card-middle {
  height: 86% !important;
  width: 100%;
  padding: 7px;
  display: flex;
  flex-direction: column;
}
.res-card-bottom {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.75vw;
  color: #ffffff;
}
.res-card-teams {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.res-card-details {
  height: 65%;
  width: 100%;
  margin-top: 2vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.res-team-row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 5px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.25vw;
  color: #ffffff;
}
.res-team-name {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
.res-team-rank {
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1vw;
}
.res-team-flag {
  width: 12%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.res-team-flag > span {
  width: 2.5vw;
  height: 2em;
}
.res-detail-row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.45vw;
}
.res-detail-row:nth-child(even) {
  background-color: #e6e6e6;
}
.res-detail-row:nth-child(odd) {
  background-color: #ffffff;
}
.res-detail-icon {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  max-height: 2em;
}
.res-detail-left {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
.res-detail-right {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.res-alliance-total-left {
  height: 100%;
  width: 40% !important;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.res-alliance-total-right {
  width: calc(25% - 2px) !important;
  padding-right: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.res-alliance-total.right > span {
  width: 100%;
  text-align: center;
  padding-right: 7px;
}
.bottom-red {
  border-bottom: 2px solid rgb(118, 39, 45);
}
.right-red {
  border-right: 2px solid rgb(118, 39, 45);
}
.bottom-blue {
  border-bottom: 2px solid #2e3190;
}
.right-blue {
  border-right: 2px solid #2e3190;
}
.penalty {
  color: #ff3333;
}

@media only screen and (max-width: 1600px) {
}

/* MATCH OVERLAY STYLES */
#fgc-results-overlay-container #res-header-container {
  margin-top: 1vh;
  margin-left: 2.5%;
  margin-bottom: 1vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fgc-results-overlay-container #res-header-container #res-header-left {
  display: block;
  text-align: left;
  padding-left: 0;
  font-size: 3rem;
  width: 100%;
  height: 100%;
}

#fgc-results-overlay-container #res-header-container #res-header-right {
  width: 100%;
  height: 100%;
  gap: 20px;
}

#fgc-results-overlay-container
  #res-header-container
  #res-header-right
  .res-header-item {
  justify-content: center;
  height: 80%;
  width: 100%;
  margin: 0;
  font-size: 1.25rem;
}

#fgc-results-overlay-container #res-header-container {
  height: 8vh;
}

#fgc-results-overlay-container > #res-alliance-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.5rem;
  height: 88vh;
}

#fgc-results-overlay-container > #res-alliance-container > .res-alliance-card {
  height: 45vh;
  width: 15vw;
}

#fgc-results-overlay-container
  > #res-alliance-container
  > .res-alliance-card
  .res-card-teams {
  height: 10.5vh;
}

#fgc-results-overlay-container
  > #res-alliance-container
  > .res-alliance-card
  .res-card-teams
  .res-team-row {
  font-size: 0.8rem;
  padding: 0;
}

#fgc-results-overlay-container
  > #res-alliance-container
  > .res-alliance-card
  .res-card-details {
  margin-top: 1vh;
}

#fgc-results-overlay-container
  > #res-alliance-container
  > .res-alliance-card
  .res-card-details
  .res-detail-row {
  font-size: 1vh;
}

#fgc-results-overlay-container
  > #res-alliance-container
  > .res-alliance-card
  .res-card-bottom {
  font-size: 1rem;
}

#fgc-results-overlay-container
  > #res-alliance-container
  > .res-alliance-card
  .res-detail-icon {
  max-height: 3.5em;
}
