@red-alliance: #de1f1f;
@blue-alliance: #1f85de;

@grey: #bababa;
@yellow: #c7d100;
@red: #ce0000;

.error {
  color: @red;
}

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.col-left {
  text-align: left;
}

.col-center {
  text-align: center;
}

.col-right {
  text-align: right;
}

.center-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fit-h {
  width: auto;
  height: 100%;
}

.fit-w {
  width: 100%;
  height: auto;
}

.red {
  color: @red-alliance !important;
}

.blue {
  color: @blue-alliance !important;
}

.red-bg {
  background-color: @red-alliance;
  color: #ffffff;
}

.red-bg-imp {
  background-color: @red-alliance !important;
  color: #ffffff !important;
}

.blue-bg {
  background-color: @blue-alliance;
  color: #ffffff;
}

.blue-bg-imp {
  background-color: @blue-alliance !important;
  color: #ffffff !important;
}

.yellow-bg {
  background-color: @yellow;
  color: #ffffff;
}

.purple-bg-imp {
  background-color: purple !important;
  color: #ffffff !important;
}

.black-bg {
  background-color: #000000;
  color: #ffffff;
}

.black-bg-imp {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.no-card {
  background-color: @grey !important;
}

.yellow-card {
  background-color: @yellow !important;
}

.red-card {
  background-color: @red !important;
}

.white-card {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.mouse-disable {
  cursor: not-allowed !important;
}

.mouse-click {
  cursor: pointer !important;
}

@media print {
  .no-print {
    display: none;
  }
}

/* CSS OVERRIDES */
a.MuiTypography-root {
  color: inherit;
  text-decoration: none;
}
